<mat-toolbar color = "primary">
    <span>Lista de egresados</span>
    
</mat-toolbar>

<mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z20 " matSort>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_completo}} </td>
        </ng-container>
        <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>
        <ng-container matColumnDef="carrera">
            <th mat-header-cell *matHeaderCellDef> Carrera </th>
            <td mat-cell *matCellDef="let element"> {{element.carrera}} </td>
        </ng-container>
        <ng-container matColumnDef="anio_ingreso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Año Ingreso </th>
            <td mat-cell *matCellDef="let element"> {{element.anio_ingreso}} </td>
        </ng-container>
        <ng-container matColumnDef="anio_titulacion" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Año Titulacion </th>
            <td mat-cell *matCellDef="let element"> {{element.anio_titulacion}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</mat-card>
