<footer>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h3> Conoce más sobre nosotros </h3>
                <ul>
                    <li><a href="https://www.uta.cl">Universidad de Tarapaca</a></li>
                    <li><a href="https://admision.uta.cl/index.php/pedagogia-ingles/">Pedagogia en Ingles</a></li>
                    <li><a href="https://admision.uta.cl/index.php/licenciatura-en-ingles/">Licenciatura en Ingles</a></li>
                </ul>
            </div>
            <div class="col-1">
              <div id="imag"></div>
            </div>
        </div>
        
    </div>
</footer>